@charset "utf-8";

body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

section {
    border: 1px solid lightgray;
    width: 400px;
    margin: 32px auto 0;
    border-radius: 8px;
}

h1 {
    font-size: 20px;
    margin: 0px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

p {
    margin: 0px;
    padding: 8px;
    line-height: 2;

}