@charset "utf-8";

body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

section {
    border: 1px solid red;
    width: 400px;
    margin: 32px auto 0;
    border-radius: 8px;
}

h1 {
    background-color: skyblue;
    margin: 0px;
    padding: 8px;
    text-align: center;
}

p {
    background-color: pink;
    margin: 0px;
    padding: 8px;
    line-height: 2;

}